<?xml version="1.0"?>
<configuration>
  <!-- log4net -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>

  <!-- Product DB -->
  <connectionStrings>
    <add name="reportDBConnectionString" connectionString="Database=xxx;User ID=xxx;Password=xxx;Server=xxx;Connect Timeout=30;"/>
  </connectionStrings>
  
  <!-- Test DB 
  <connectionStrings>
    <add name="reportDBConnectionString" connectionString="Database=xxx;User ID=xxx;Password=xxx;Application Name=xxx;Server=xxx;Connect Timeout=30;"/>
  </connectionStrings>-->

  
  <!-- Setting -->
  <appSettings>
    <add key="Default_Output_Folder" value="{0}Output\"/>
    <add key="Default_Template_Folder" value="{0}Template\"/>
    <add key="Default_Suffix" value=".xls"/>

    <!-- Request -->
    <add key="RequestReport_Suffix" value=".xlsx"/>
    <add key="RequestReport_Name" value="Tracking Sheet for Request {yyyyMMdd}-{yyyyMMdd}"/>
  </appSettings>

  
  <!-- log4net -->
  <log4net>
    <appender name="RollingLogFileAppender_DateFormat" type="log4net.Appender.RollingFileAppender">
      <file value=".\log\ReportGeneratorApp_log.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%nDateTime  : %date %nLogger    : %logger %nLevel     : %level %nComputer  : %property{log4net:HostName} %n%message%.0exception%n%n^^-------------------------------------------------------------------^^%n"/>
      </layout>
    </appender>
    <logger name="ReportLog">
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender_DateFormat"/>
    </logger>
  </log4net>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
